<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <title>Bike Share</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
  </head>

  <body>
    <!-- Navbar -->
    <ul class="topnav" id="myTopnav">
      <li><a href="/">Home</a></li>
      <li><a href="about">About</a></li>
    </ul>


    <div class = "main-panel">
      <div class="panel-heading">
        <h3 class = "title">About</h3>
      </div>
      <div class = "panel-body">
        This application uses the Indego Bike Share API to retrieve live information on bike share stations in Philadelphia, PA. If you click on the marker, it will show how many bikes are availble, how many docks are available, and (soon coming) whether or not the station will become full/empty over the next hour.<br>
        This site is powered by flask with a custom designed html/css template and uses the Google Maps Javascript API, and the backend uses the pandas data analysis library for python.<br>
        Created by Jennifer Hwang<br>
      </div>
    </div>



  </body>
</html>
