<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <title>Bike Share</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
  </head>

  <body>
    <!-- Navbar -->
    <ul class="topnav" id="myTopnav">
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
    </ul>

    <div class = "main-panel">
      <div class="panel-heading">
        <h3 class = "title">Welcome!</h3>
      </div>
      <div class = "panel-body">
        This is an interactive map that shows bike share stops and related information<br>
        <img src="static/imgs/full.png" height=15px> full, <img src="static/imgs/almostfull.png" height=15px> almost full, <img src="static/imgs/almostempty.png" height=15px> almost empty, <img src="static/imgs/empty.png" height=15px> empty, <img src="static/imgs/unavailable.png" height=15px> unavailable
      </div>
    </div>

    <div id="map"></div>
    <script>
      var map;
      var marker;
      function initMap(){
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 39.9552, lng: -75.1796},
          zoom: 13 
        });
        {% for id , lat, lng, ad, td, sttus in stations %}
          {% if ad == 0 %}
            marker = new google.maps.Marker({
              position: new google.maps.LatLng({{lat}},{{lng}}), map:map, icon:'static/imgs/full.png'});

          {% elif ad < 5 %}
            marker = new google.maps.Marker({
              position: new google.maps.LatLng({{lat}},{{lng}}), map:map, icon:'static/imgs/almostfull.png'});
            
          {% elif ad == td %}
            marker = new google.maps.Marker({
              position: new google.maps.LatLng({{lat}},{{lng}}), map:map, icon:'static/imgs/empty.png'});

          {% elif sttus != 'Active' %}
            marker = new google.maps.Marker({
              position: new google.maps.LatLng({{lat}},{{lng}}), map:map, icon:'static/imgs/unavailable.png'});

          {% else %}
            marker = new google.maps.Marker({
              position: new google.maps.LatLng({{lat}},{{lng}}), map:map, icon:'static/imgs/almostempty.png'});
          {% endif %}
        {% endfor %}
//        {% for id, lat, lng, ad, td in stations %}
//        marker = new google.maps.Marker({position:new google.maps.LatLng({{ lat }}, {{lng}},icon:'static/img/red.png',map: map});
//        {% endfor %}
      }
      //{% for id, lat, lng, ad, td in stations %}
      //var marker;
      //marker = new google.maps.Marker({position:new google.maps.LatLng({{ lat }}, {{lng}},icon:'static/img/red.png'});
      //marker.setMap(map);
      //{% endfor %}
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0GRhX6aI30QOvCju-nHIUryIBQ3F8gpo&callback=initMap"async defer></script>


  </body>
</html>
